<div class="paneldiv">
<mat-expansion-panel class="expanel">
    <mat-expansion-panel-header>
        <mat-panel-title>
          Uge Nr :  {{PanelUgeNr}}
        </mat-panel-title>
        <mat-panel-description class="paneldescription">
            {{PanelTitel}}
        </mat-panel-description>
    </mat-expansion-panel-header>
    <h3>Emner</h3>
    <p href="#">{{PanelEmne}}</p>
    <h3>Materiale</h3>
    <p>{{PanelMaterialer}}</p>
    <h3>Exercises</h3>
    <p>{{PanelExercises}}</p>
</mat-expansion-panel>
</div>