<div class="navbardiv">
    <nav class="navbar">
        <ul>
            <!-- TODO husk at rette routerlink -->
            <li id="forside" routerLink="">
                <a>Forside</a>
            </li>
            <li>
                <a routerLink="/WebDev" routerLinkActive="active">Web Development</a>
            </li>
            <li>
                <a routerLink="/Software-Construction" routerLinkActive="active">Software Construction</a>
            </li>
            <li routerLink="/Arkiv" routerLinkActive="active">
                <a>Archive</a>
            </li>
        </ul>
    </nav>
</div>
