<div class="navbardiv">
    <nav class="navbar">
        <ul>
            <!-- TODO husk at rette routerlink -->
            <li id="forside" >
                <a routerLink="" routerLinkActive="active">Forside</a>
            </li>
            <li>
                <a routerLink="/WebDev" routerLinkActive="active">Web Development</a>
            </li>
            <li>
                <a routerLink="/Software-Construction" routerLinkActive="active">Software Construction</a>
            </li>
            <li >
                <a routerLink="/Arkiv" routerLinkActive="active">Archive</a>
            </li>
        </ul>
    </nav>
</div>
